/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */ 

html { 
    background: url("http://images6.fanpop.com/image/photos/39500000/My-Neighbor-Totoro-studio-ghibli-39569778-1024-768.jpg") no-repeat center center fixed; 
    background-size: 1500px 850px; 
  }

h1 {
    text-align: center;
    font-size: 65px;
    font-family: fantasy;
    font-weight: bold; 
    color: #de3859; 
    text-shadow: 3px 3px #474544;
    padding-top: 35px;
    margin-bottom: 0;   
    margin-top: 20px; 
}

.user {
    font-size: 35px;
    font-family: fantasy; 
    margin-top: 40px;
    margin-bottom: 5px; 
    margin-left: 30px;
    color: #201f23;
    font-weight: bold; 
    text-shadow: 3px 3px #eae5e6;
} 

.create_login {
    font-size: 35px;
	font-family: fantasy; 
    margin-bottom: 5px; 
    margin-top: 75px;
    margin-left: 30px;
    color: #201f23;
    font-weight: bold; 
    text-shadow: 3px 3px #eae5e6;
} 

.create_user { 
    margin-left: 30px;
    font-family: fantasy;
    font-size: 18px; 
    box-shadow: 0px 0px 1px 1px #131212
} 

.login {
    font-family: fantasy;
    font-size: 18px; 
    box-shadow: 0px 0px 1px 1px #131212
} 

.login_text {
    font-family: fantasy;
    font-size: 18px; 
    margin-left: 30px;
    box-shadow: 0px 0px 1px 1px #131212  
} 

.password_text {
    font-family: fantasy;
    font-size: 18px;
    box-shadow: 0px 0px 1px 1px #131212
}

.submit_button {
    font-weight: bold; 
	font-size: 18px;
	margin-top: 10px; 
	box-shadow: 0px 0px 1px 1px #131212; 
	background: #8ac1e0; 
	font-family: fantasy;
} 

.submit_button2 {
    font-weight: bold; 
	font-size: 18px;
	margin-top: 10px; 
	box-shadow: 0px 0px 1px 1px #131212; 
	background: #8ac1e0; 
	font-family: fantasy;
} 

::placeholder {
    background: #ffffed;
  }



